Appending new eliment to Array through button
<ul>
  {{#each model as |book|}}
      <li>{{#link-to 'books.book' book}}{{{book.title}}}{{/link-to}}</li>
    {{#each book.reviewsNag as |reviewNag|}}
        <li>{{{reviewNag}}}</li>
    {{/each}}
      <button {{action 'createReview' book.reviewsNag}}>Add Review</button>
  {{/each}}
</ul>
